<style>	
.aside-fixed{
	position:fixed;
	width: 100%;
	left:0;
	right:0;
	margin:auto;
	bottom:10rem;
	z-index: 1000;
	padding-right:1rem
}
.aside-content{
	float:right;
	bottom:8rem;
	width: 3rem
}
.aside-content i{
	float:left;
	width:3rem;
	color:white;
	line-height: 3.0rem;
	text-align: center;
	background:rgba(0,0,0,.6);
	border-radius:.2rem;
	margin-top: -8rem;
}
.aside-content a i{
	margin-top: -4rem;
}
.js-go-top{display: none}


</style>
<div class="aside-fixed media-fixed">
	<div class='aside-content'>
		<i class="iconfont js-go-top">&#xe669;</i>
		<a href="#user"><i class="iconfont">&#xe61f;</i></a>
	</div>
</div>
